{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
                            <!-- Main Content -->
                            <div class="headline">
                                <h2>Formulario de contacto</h2>
                            </div>
                            <p>Para comunicarse con nosotros, puede dejar su nombre y su correo electrónico, en el campo de mensaje añadir sus dudas, quejas, reclamos, opiniones, peticiones, etc.</p>
                            <br>
                            <!-- Formulario de contacto -->
                            <form>
                                <label>Nombre</label>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <label>Correo electrónico
                                    <span class="color-red">*</span>
                                </label>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <label>Mensaje</label>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-8 col-md-offset-0">
                                        <textarea rows="8" class="form-control"></textarea>
                                    </div>
                                </div>
                                <p>
                                    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                                </p>
                            </form>
                            <!-- End Formulario de contacto -->
                            <!-- End Main Content -->
                        </div>
                        <!-- End Main Column -->
                        <!-- Side Column -->
                        <div class="col-md-3">
                            <!-- Recent Posts -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Información de contacto</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Puede comunicarse con nosotros por otros medios, de la siguiente manera:</p>
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa-phone color-primary"></i>+353-44-55-66</li>
                                        <li>
                                            <i class="fa-envelope color-primary"></i>info@torosandvacas.com</li>
                                        <li>
                                            <i class="fa-home color-primary"></i>http://www.torosandvacas.com</li>
                                    </ul>
                                    <ul class="list-unstyled">
                                        <li>
                                            <strong class="color-primary">Lunes-Viernes:</strong>9am a 6pm</li>
                                        <li>
                                            <strong class="color-primary">Sábado:</strong>10am a 3pm</li>
                                        <li>
                                            <strong class="color-primary">Domingo:</strong>Cerrado</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End recent Posts -->
                            <!-- About -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Sobre nosotros</h3>
                                </div>
                                <div class="panel-body">
                                    Somos una empresa encargada de desarrollar un modelo de agro negocio a través de diferentes canales nacionales y a través del internet, en el cual se promocionan productos y servicios exclusivos, destinados a las actividades agropecuarias, con el fin de disminuir los costos de producción de las explotaciones pecuarias.
                                </div>
                            </div>
                            <!-- End About -->
                        </div>
                        <!-- End Side Column -->
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
{% endblock %}