{% extends 'base2.html' %}
{% block formulario %}
<details>
  <summary>Alimentacion</summary>
    <form>
    <table class="table">
      <thead class='table-header'>
        <tr>
          <th>Fecha</th>
          <th>Alimento(Kg)</th>
          <th>Consumo de agua(L)</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ali in alimentacion %}
        <tr>
          <td>{{ali.fecha}}</td>
          <td>{{ali.kilos}}</td>
          <td>{{ali.consumo_agua}}</td>
          <td><a href="{%url 'editaralimentacion' ali.id %}">Editar</a> <a href="{%url 'eliminaralimentacion' ali.id %}">
              Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
</details>
<details>
  <summary>Enfermedades</summary>
  <form>
    <table class="table">
      <thead class='table-header'>
        <tr>
          <th>Nombre</th>
          <th>Fecha Inicio</th>
          <th>Fecha Final</th>
          <th>Veterinario</th>
          <th>Opciones</th>
          
        </tr>
      </thead>
      <tbody>
        {% for ali in enfermedad %}
        <tr>
          <td>{{ali.nombre}}</td>
          <td>{{ali.inicio}}</td>
          <td>{{ali.final}}</td>
          <td>{{ali.id_veterinario}}</td>
          <td><a href="{%url 'editarenfermedades' ali.id %}">Editar</a> <a href="{%url 'eliminarenfermedades' ali.id %}">
              Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
</details>
<details>
  <summary>Vacuna</summary>
  <form>
    <table class="table">
      <thead class='table-header'>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Veterinario</th>
          <th>Fecha</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ali in vacuna %}
        <tr>
          <td>{{ali.id}}</td>
          <td>{{ali.nombre}}</td>
          <td>{{ali.id_veterinario}}</td>
          <td>{{ali.fecha}}</td>
          <td><a href="{%url 'editarvacuna' ali.id %}">Editar</a> <a href="{%url 'eliminarvacuna' ali.id %}">
              Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
</details>
<details>
  <summary>Baja</summary>
        {% for ali in baja %}
            {% if ali.motivo == 0%} Fue vendido en la fecha: {{ali.fecha}}{% elif ali.motivo == 1 %}Muerte por Sacrificio en la fecha: {{ali.fecha}}{% elif ali.motivo == 2 %} Muerte por enfermedad en la fecha: {{ali.fecha}}{% endif %}
        {% empty %}
            El individuo esta vivo
        {% endfor %}
</details>
<details>
<summary>Registro de vaca madre</summary>
{% if madre %}
    <form>
    <table class="table">
      <thead class='table-header'>
        <tr>
          <th>Embarazada</th>
          <th>Pajilla</th>
          <th>Fecha de inseminacion</th>
          <th>Veterinario</th>
          <th>Leche producida</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ali in madre %}
        <tr>
          <td>{% if ali.Embarazada == 0 %}No {% elif ali.Embarazada == 1 %}Si{% endif %}</td>
          <td>{{ali.pajilla}}</td>
          <td>{{ali.fecha_inseminacion}}</td>
          <td>{{ali.id_veterinario}}</td>
          <td>{{ali.litros}}</td>
          <td><a href="{%url 'editarvacamadre' ali.id %}">Editar</a> <a href="{%url 'eliminarvacamadre' ali.id %}">
              Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
{% else %}
    Esta Vaca aun no se ha inseminado
{% endif %}
</details>
<details>
<summary>Evolución</summary>
{% if evolucion %}
    <form>
    <table class="table">
      <thead class='table-header'>
        <tr>
          <th>Mes</th>
          <th>Descripción</th>
          <th>Fecha de Parto</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ali in evolucion %}
        <tr>
          <td>{{ali.mes}}</td>
          <td>{{ali.descripcion}}</td>
          <td>{{ali.fecha_parto}}</td>
          <td><a href="{%url 'editarevolucion' ali.id %}">Editar</a> <a href="{%url 'eliminarevolucion' ali.id %}">
              Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
{% endif %}
</details>
{% endblock formulario %}