{% extends "base2.html" %}

{% block content %}
    <div>
        <div class="headline">
            <h2>Pager Examples</h2>
        </div>
        <p>Hola como estas</p>
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>
        <hr>
        <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est blanditiis ducimus qui blanditiis.</p>
        <ul class="pager">
            <ul class="pager">
                <li>
                    <a href="#">Previous</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </ul>
    </div>
{% endblock %}