{% extends 'base2.html' %}

{% block formulario %}

</form>
  <form >
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>TIPO</th>
          <th>PESO</th>
          <th>OPCIONES</th>
          <th>MÁS DETALLES</th>

        </tr>
      </thead>
      <tbody>
        {% for ani in formulario %}
        <tr>
            <td>{{ani.id}}</td>
            <td>{% if ani.tipo == 0%} Ternero {% endif %} {% if ani.tipo == 1%} Toro {% endif %} {% if ani.tipo == 2%} Vaca {% endif %} {% if ani.tipo == 3%} Cebo {% endif %} </td>
            <td>{{ani.peso}}</td>
            <td><a href="{%url 'editarAnimal' ani.id %}">Editar</a> <a href="{%url 'eliminarAnimal' ani.id %}">
              Eliminar</a></td>
            <td><a href="{% if ani.tipo == 0%} {%url 'detallesternero' ani.id %}{% endif %} {% if ani.tipo == 1%} {%url 'detallestoro' ani.id %}{% endif %} {% if ani.tipo == 2%} {%url 'detallesvaca' ani.id %}{% endif %} ">Detalles</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock  %}
