{% extends 'base2.html' %}
{% block formulario %}
</form>
  <form class="vistatabla">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tipo</th>
          <th>Peso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ani in formulario %}
        <tr>
          <td>{{ani.id}}</td>
          <td>{{ani.tipo}}</td>
          <td>{{ani.peso}}</td>
          <td><a href="{%url 'editarAnimal' ani.id %}">Editar</a> <a href="{%url 'eliminarAnimal' ani.id %}">
              Eliminar</a> {% if ani.tipo == 2 %}
              <a href="{%url 'index' %}">VacaMadre</a>
              {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock  %}