{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <div class="col-md-12">
                            <h2 class="margin-vert-20">Sobre Nosotros</h2>
                            <div class="row margin-bottom-30">
                                <div class="col-md-4 animate fadeInLeft">
                                    <p>Somos estudiantes de Ingenieria de Sistemas de la Universidad del Norte, Este proyecto fue creado con la finalidad de evaluar nuestro rendimiento en la asignatura bases de datos.</p>
                                </div>
                                <div class="col-md-8 animate fadeIn">
                                    <!-- Person Details -->
                                    <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
                                        <figure>
                                            <img src={% static 'assets/img/theteam/image1.jpeg' %} alt="image1">
                                            <figcaption>
                                                <h3 class="margin-bottom-10">David Maldonado
                                                    <small>- Programador</small>
                                                </h3>
                                            </figcaption>
                                            <ul class="list-inline person-details-icons">
                                                <li>
                                                    <a href="http://www.instagram.com/dmaldonadob">
                                                        <i class="fa-lg fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.linkedin.com/in/david-maldonado-491643213/">
                                                        <i class="fa-lg fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.facebook.com/david.a.maldonado.9/">
                                                        <i class="fa-lg fa-facebook"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </figure>
                                    </div>
                                    <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
                                        <figure>
                                            <img  src={% static 'assets/img/theteam/image2.jpg' %} alt="image1">
                                            <figcaption>
                                                <h3 class="margin-bottom-10">Danilo Jimenez
                                                    <small>- Programador</small>
                                                </h3>
                                            </figcaption>
                                            <ul class="list-inline person-details-icons">
                                                <li>
                                                    <a href="http://www.instagram.com/dmaldonadob">
                                                        <i class="fa-lg fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.linkedin.com/in/david-maldonado-491643213/">
                                                        <i class="fa-lg fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.facebook.com/david.a.maldonado.9/">
                                                        <i class="fa-lg fa-facebook"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </figure>
                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Person Details -->
                                    <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
                                        <figure>
                                            <img src={% static 'assets/img/theteam/image3.jpg' %} alt="image3">
                                            <figcaption>
                                                <h3 class="margin-bottom-10">Kang Lei Lei
                                                    <small>- Programador</small>
                                                </h3>
                                            </figcaption>
                                            <ul class="list-inline person-details-icons">
                                                <li>
                                                    <a href="http://www.instagram.com/dmaldonadob">
                                                        <i class="fa-lg fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.linkedin.com/in/david-maldonado-491643213/">
                                                        <i class="fa-lg fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.facebook.com/david.a.maldonado.9/">
                                                        <i class="fa-lg fa-facebook"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </figure>
                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Person Details -->
                                    <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
                                        <figure>
                                            <img src={% static 'assets/img/theteam/image1.jpeg' %} alt="image1">
                                            <figcaption>
                                                <h3 class="margin-bottom-10">Yony Hoyos
                                                    <small>- Programador</small>
                                                </h3>
                                            </figcaption>
                                            <ul class="list-inline person-details-icons">
                                                <li>
                                                    <a href="http://www.instagram.com/dmaldonadob">
                                                        <i class="fa-lg fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.linkedin.com/in/david-maldonado-491643213/">
                                                        <i class="fa-lg fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.facebook.com/david.a.maldonado.9/">
                                                        <i class="fa-lg fa-facebook"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </figure>
                                    </div>
                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
{% endblock %}