{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <!-- Filter Buttons -->
                <div class="portfolio-filter-container margin-top-20">
                    <ul class="portfolio-filter">
                        <li class="portfolio-filter-label label label-primary">
                            Filtrar por:
                        </li>
                        <li>
                            <a href="#" class="portfolio-selected btn btn-default" data-filter="*">Todo</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default" data-filter=".vacas">Vacas</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default" data-filter=".comida">Comida</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default" data-filter=".pajilla">Kits Inseminación</a>
                        </li>
                    </ul>
                </div>
                <!-- End Filter Buttons -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-group no-padding">
                <!-- Portfolio Item -->
                <div class="col-md-6 portfolio-item margin-bottom-40 vacas">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{% static 'assets/img/Productos/vacas3.jpg'%}" alt="image1" >
                                <figcaption>
                                    <h3 class="margin-top-20">Vacas</h3>
                                    <span>Vacas lecheras</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- End Portfolio Item -->
                 <!-- Portfolio Item -->
                <div class="col-md-6 portfolio-item margin-bottom-40 vacas">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{% static 'assets/img/Productos/vacas2.jpg'%}" alt="image2" >
                                <figcaption>
                                    <h3 class="margin-top-20">Vacas</h3>
                                    <span>Vacas para sacar crias</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- End Portfolio Item -->
                 <!-- Portfolio Item -->
                <div class="col-md-6 portfolio-item margin-bottom-40 vacas">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{% static 'assets/img/Productos/vacas1.jpeg'%}" alt="image3" >
                                <figcaption>
                                    <h3 class="margin-top-20">Vacas</h3>
                                    <span>Vacas de engorde con la mejor genetica</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- End Portfolio Item -->
                 <!-- Portfolio Item -->
                <div class="col-md-6 portfolio-item margin-bottom-40 comida">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{% static 'assets/img/Productos/humidicola.jpg'%}" alt="image4" >
                                <figcaption>
                                    <h3 class="margin-top-20">Humidicola</h3>
                                    <span>Es una especie gramínea nativa de los trópicos. Son pastos erectos y rústicos, bajos y rastreros, su crecimiento es mediante estolones.</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- End Portfolio Item --> <!-- Portfolio Item -->
                <div class="col-md-6 portfolio-item margin-bottom-40 comida">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{% static 'assets/img/Productos/sorgo.jpg'%}" alt="image5" >
                                <figcaption>
                                    <h3 class="margin-top-20">Sorgo</h3>
                                    <span>Es una gramínea de origen tropical que ha sido adaptada, a través del mejoramiento genético, a una gran diversidad de ambientes, </span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- End Portfolio Item -->
                 <!-- Portfolio Item -->
                <div class="col-md-6 portfolio-item margin-bottom-40 pajilla">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{% static 'assets/img/Productos/producto10.png'%}" alt="image6" >
                                <figcaption>
                                    <h3 class="margin-top-20">Pajillas</h3>
                                    <span>Muestras de Semen de Toro de excelente genetica, para el uso en la inseminación artificial de sus animales</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- End Portfolio Item -->
                 <!-- Portfolio Item -->
                <div class="col-md-6 portfolio-item margin-bottom-40 pajilla">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{% static 'assets/img/Productos/producto3.jpg'%}" alt="image6" >
                                <figcaption>
                                    <h3 class="margin-top-20">kit Inseminacion</h3>
                                    <span>Kit completo listo para inseminacion de vacas</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- End Portfolio Item -->

            </div>
        </div>
    </div>
</div>
{% endblock %}